# Credentials
*.key
*.pem
*.env
*.puml

# Local Python environments
.venv/

# Notebook output
.ipynb_checkpoints/
platforms/azure/historical-artifacts/parquets
out/

# Configuration with secrets
config.json

# Python bytecode
__pycache__/
*.py[cod]

# AWS CDK local dependencies and synthesized assets
platforms/aws/cdk-infrastructure/node_modules/
platforms/aws/cdk-infrastructure/cdk.out/
